.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
  padding: 20px 10px;
}

.restaurant h2 {
  font-size: 24px;
}

.restaurant h3 {
  font-size: 20px;
  margin: 10px 0px;
}

.restaurant .restaurant__menus-title {
  margin-bottom: 10px;
  margin-top: 30px;
}

.restaurant .restaurant__header {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.restaurant .restaurant__poster {
  width: 100%;
  max-width: 500px;
}

.restaurant .restaurant__info h4 {
  margin: 8px 0;
}

.restaurant__menus {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.restaurant__menus .restaurant__menus__foods {
  font-size: 20px;
  color: rgb(255, 164, 37);
  margin-bottom: 6px;
}

.restaurant__menus .restaurant__menus__drinks {
  font-size: 20px;
  color: rgb(44, 150, 255);
  margin-bottom: 6px;
}

.restaurant__reviews {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
}

.restaurant__reviews .restaurant__reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 6px;
}

.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
